
body {
	padding-top: 60px;
}

.hero-unit {
	background: #e5eabf;
}
.hero-unit h1 strong {
	color: #b2c60d;
}

.edit-container-icon form{
	display: inline;
}

.devices-table form{
	margin: 0;
}
.devices-table td{
	vertical-align: middle;
}